@mixin flexbox($justify, $align : stretch, $direction: row) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin absolute($top, $bottom, $left, $right) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}
