@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.font-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

// Color

$color-primary: #ff6060;
$color-secondary: #000;
$color-light: #fff;
$color-light-accent: #f6f6f6;

// height

$navbar-height: 99px;
$footer-height: 210px;

// Breakpoints

$breakpoint-small: 568px;
$breakpoint-medium: 850px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
