@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

// ----General----
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* .mx-sm {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.px-sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.p-5 {
    padding: 1.5rem;
}
.w-50 {
    width: 50%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: $color-secondary;
    @extend %no_decoration;
}

.reverse {
    transform: rotate(180deg);
}
// ----navigation----

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    &__list {
        display: flex;
        gap: 2rem;
    }
    &__chevron {
        width: clamp(5rem, 15vw, 10rem);
    }
}

// ----Footer----

.footer {
    @extend %flex-center;
    min-height: 210px;
    background-color: $color-secondary;
    &__container {
        @extend %flex-center;
        flex-direction: column;
        &__chevron {
            width: 100px;
        }
        &__text {
            color: $color-light;
            margin: 0.5rem 0;
        }
    }
}

// ----404 page----

.main-404 {
    @extend %flex-center;
    flex-direction: column;
    height: calc(100svh - #{$navbar-height + $footer-height});

    color: $color-primary;
    &__title {
        font-size: 8rem;
        margin: 0;
        margin-bottom: 4rem;
    }
    &__text {
        margin: 0;
        margin-bottom: 4rem;
        font-size: 1.2rem;
        text-align: center;
        max-width: 18rem;
    }
    &__link {
        text-decoration: underline;
        font-size: 1.2rem;
    }
}

// ----SubHeader----

.sub-header {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    height: clamp(7rem, 13vw, 14rem);
    border-radius: 10px;
    @include max-breakpoint(medium) {
        margin-bottom: 1.5rem;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        @extend %flex-center;
        &__title {
            margin: 2rem;
            color: $color-light;
            font-size: clamp(1.5rem, 3vw, 2.5rem);
        }
    }
    &__background-img {
        border-radius: 10px;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

// ----bloc accomodation in home----

.accomodation {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    font-size: 1.1rem;
    align-items: flex-end;
    background-color: $color-primary;
    @include max-breakpoint(small) {
        margin-bottom: 1rem;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(10, 10, 10, 0) 42%,
            rgba(4, 4, 4, 0.205) 99.99%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }
    &__cover{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    &__title {
        position: absolute;
        color: $color-light;
        font-size: 1.5rem;
        margin: 1.5rem;
    }
}



// ----Accueil----
.accomodation-container {
    @include min-breakpoint(small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    @include min-breakpoint(medium) {
        background-color: $color-light-accent;
        padding: 2rem;
        display: grid;
        border-radius: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
// ----Accomodation----

.accomodation-main {
    &__carousel {
        margin-bottom: 1.5rem;
        border-radius: 10px;
        width: 100%;
        height: clamp(15rem, 35vw, 25rem);
        position: relative;

        &__background-img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__overlay-button {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__button {
                cursor: pointer;
                height: 100%;
                background-color: transparent;
                border: none;
                width: 100px;
                &__img {
                    width: 20px;
                    object-fit: contain;
                }
            }
        }
     &__counter{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color-light;
     }
    }
    &__information {
        @include min-breakpoint(small) {
            display: flex;
        }
        &__principal-information {
            @include min-breakpoint(small) {
                flex: 1;
            }
            &__title {
                color: $color-primary;
            }
            &__location {
                margin-bottom: 1.5rem;
            }
            &__list-equipments-accomadation {
                p {
                    display: inline-block;
                    white-space: nowrap;
                    background-color: $color-primary;
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 10px;
                    font-size: 0.8rem;
                    color: $color-light;
                    padding: 0.5rem 1rem;
                }
            }
        }

        &__rating-host-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include min-breakpoint(small) {
                margin-bottom: 0.5rem;
                flex-direction: column-reverse;
            }
            @include max-breakpoint(small) {
                margin-top: 1.5rem;
            }
            &__host {
                display: flex;
                align-items: center;
                gap: 1rem;
                &__name {
                    color: $color-primary;
                    font-size: 0.8rem;
                    white-space: pre-wrap;
                }
                &__picture {
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    &__container-accordion {
        margin-bottom: 1.5rem;
        @include min-breakpoint(small) {
            display: flex;
            align-items: start;
            justify-content: space-between;
            gap: 1.5rem;
        }
    }
}

// ----Accordion----

.accordion {
    background-color: $color-light-accent;
    border-radius: 0 0 10px 10px;
    flex: 1;
    z-index: 5;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    transition: all 1s ease; /* Animation de transition de la hauteur */
    font-size: 0.8rem;
    height: auto;
    &.open {
        .accordion__content {
            max-height: 200px;
        }
        .accordion__header__chevron {
            transform: rotate(180deg);
        }
    }
    &__header {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: $color-light;
        cursor: pointer;
        padding: 1rem 1rem;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        * {
            margin: 0;
        }
        &__chevron {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $color-light;
            transition: transform 0.3s ease; /* Animation de transition de la rotation */
        }
    }
    &__content {
        transition: all 0.3s ease-in-out;
        max-height: 0;
        width: 100%;
        p,
        ul {
            padding: 1rem;
            margin: 0;
        }
    }
}

// ----Rating----

.stars-list {
    white-space: nowrap;
}

.star {
    margin-right: 0.5rem;
}
